#horizontal {
	display: flex;
	flex-direction: row;
}
#horizontal > div:nth-child(1) {
	background-color:lightgreen;
	flex: 8 8 250px;
}
#horizontal > div:nth-child(2) {
	background-color:lightblue;
	flex: 8 8 250px;
}
#horizontal > div:nth-child(3) {
	background-color:magenta;
	flex: 1 1 250px;
}
