.main {
    height: 400px;
    padding: 10px;
    margin: 0;
  }

.box_wrapper {
    width: 60px;
    height: 400px;
    display: block;
    float: right;
}

.box {
    width: 50px;
    height: 50px;
    background-color: coral;
    position: relative;
    left: 5px;
}
