div {
  width: 150px;
  border: 15px solid blue;
  padding: 20px;
  margin: 10px;
  display: block;
}
ul:before {
  content: "o";
  background: brown;
}

input {
  width: 100px;
  -webkit-transition: width 1s, background-color 2s;
  transition: width 1s, background-color 2s;
}

input:hover {
  width: 110px;
  background: lightgray;
  -webkit-transition: width 1s, background-color 1s;
  transition: width 1s, background-color 1s;
}

input:focus {
  width: 200px;
  color: rgb(233, 210, 1);
  background: gray;
  -webkit-transition: width 1s, background-color 2s, color 1s;
  transition: width 1s, background-color 2s, color 1s;
}

a {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  display: block;
  color: #fff;
  padding: 8px 40px;
  height: 20px;
  width: 80px;
  border-radius: 3px;
  box-shadow: 3px 3px 8px #888888;
  border: 1px solid #7a7a7a;
  background: -webkit-linear-gradient(
    top,
    #a9a9a9 0%,
    #929292 16px,
    #818181 17px,
    #989898 100%
  );
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

a:hover {
  -webkit-text-fill-color: rgb(100, 200, 0);
}

a:active {
  font-size: 150%;
  -webkit-text-fill-color: rgb(102, 0, 43);
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
